{% extends 'front-office.html.twig' %}

{% block links %}
<title>
S'authentifier
</title>
{% endblock %}

{% block contenu %}
<div style="display: flex;justify-content: center;margin: 30px;;color: whitesmoke">
    <div style="background-image: url({{ asset("assets/front-office/images/topbg.jpg") }});" class="fixed-bg"></div>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal mt-2">Ouvrez une session</h1>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword">Mot De Passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >



        <button class="btn btn-lg btn-primary " style="float: right;margin-top: 30px" type="submit">
            Connecter
        </button>
    </form>
</div>
{% endblock %}
