{% extends 'back-office.html.twig' %}

{% block links %}
    <title>Réservations de {{ res.nom}} </title>
{% endblock %}


{% block contenu %}


    <div class="card mb-3" >
        <div class="card-header" style="font-size: 22px;font-weight: bold">
            <i class="fa fa-table"></i> Réservations

        <span style="float: right">{{ res.nom }}</span>
        </div>

        <div class="card-body" style="text-align: center">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr style="background-color: #212529;color: whitesmoke"></th>
                        <th>Client</th>
                        <th>Date</th>
                        <th>Heure </th>
                        <th>Pour</th>
                        <th>Tables</th>
                        <th>Statut</th>
                        <th>Mettre à jour</th>
                        <th>Dernière Mis à jour Par</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for r in rev %}
                        <tr {% if loop.index is odd %}style="background-color: #dfdfdf" {% endif %}>
                            <td><a href="{{ path("admin-reservations-client",{'cid': r.clientId.id}) }}">{{ r.clientId.prenom }} {{ r.clientId.nom }}</a></td>
                            <td>{{ r.date|date('Y-m-d') }}</td>
                            <td>de {{ r.heureArrive|date('G:i')}}<br>
                                à {{ r.heureDepart|date('G:i')}}</td>
                            <td>{{ r.nbPersonne }} Peronne(s)</td>
                            <td>
                                {% for t in r.tables %}
                                    {{ t.id  }} ({{ t.nbPalces }}) <br>
                                {% endfor %}
                            </td>
                            <td>{{ r.statut }}</td>
                            <td>
                                <ul class="buttons" style="margin: 0px">
                                    {%  if r.statut=="Accepté"  %}
                                        <li><a href="{{ path('admin-change-reservation-statut', {'rid': res.id,'id':r.id,"s":"Annulé","adminId":"1"}) }}" class="btn_1 gray delete"><i class="fa fa-fw fa-times-circle-o"></i> Annuler</a></li>
                                    {% endif %}
                                    {%  if r.statut=="En Attente" %}
                                        <li><a  href="{{ path('admin-change-reservation-statut', {'rid': res.id,'id':r.id,"s":"Accepté","adminId":"1"}) }}" class="btn_1 gray approve"><i class="fa fa-fw fa-check-circle-o"></i> Accepter</a></li>
                                        <li><a  href="{{ path('admin-change-reservation-statut', {'rid': res.id,'id':r.id,"s":"Réfusé","adminId":"1"}) }}" class="btn_1 gray delete"><i class="fa fa-fw fa-times-circle-o"></i> Réfuser</a></li>
                                    {% endif %}
                                </ul>
                            </td>
                            <td>
                                {% if r.statut != "En Attente" %}
                                    {{ r.adminCharge.nom}} {{ r.adminCharge.prenom}}
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="float: right" >
        {{ knp_pagination_render(
            rev,
            '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
            {
                'queryParam1': 'param1 value',
                'queryParam2': 'param2 value'
            },
            {
                'viewParam1': 'param1 value',
                'viewParam2': 'param2 value'
            },
        ) }}
    </div>
{% endblock %}