{% extends 'front-office.html.twig' %}

{% block contenu %}


    <div class="bread-crumbs-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" title="" itemprop="url">Home</a></li>
                <li class="breadcrumb-item active">Blog Grid</li>
            </ol>
        </div>
    </div>


    <section>
    <div class="block less-spacing gray-bg top-padd30">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-box">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="blog-detail-wrapper">
                                <div class="blog-detail-thumb wow fadeIn" data-wow-delay="0.2s">
                                    <td><img src="{{ asset('couverture/'~ blog_client.image) }}" style="width: px;height: px"  ></td>

                                </div>
                                <div class="blog-detail-info">
                                            <span class="post-detail-date red-clr"><i class="fa fa-clock-o"></i>{{ blog_client.date ? blog_client.date|date('Y-m-d') : '' }}</span>
                                    <div class="post-meta">
                                    </div>
                                </div>
    <tr>
                                <h1 itemprop="headline" >{{ blog_client.title }}</h1>
                                <h3 itemprop="description">{{ blog_client.contenu }}</h3>
    </tr>
                                <tr>

                                    {% if (blog_client.statut =="Ouvert") %}
                                        <td>
                                            <span style="background-color: darkgreen;color: whitesmoke;padding:4px 8px;border-radius: 8px">accepté</span>
                                        </td>
                                    {% else %}
                                        <td>
                                            <span style="background-color: darkred;color: whitesmoke;padding:4px 8px;border-radius: 8px">refusé</span>
                                        </td>
                                    {% endif %}
                                </tr>
                                <tr>
                            </div>


                            <a href="{{ path('blog_client_index') }}"><button style="margin-left: 950px" class="btn btn-warning"  >back to list</button></a>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>






    <h1>Create new Commentaire</h1>
    {{ form_start(f) }}
    <form>

        <div style="margin-top: 50px" class="form-group">
            {{ form_label(f.contenu, 'Nouveau Reponse',{'attr': {'class': 'form-label'}} ) }}
            {{ form_widget(f.contenu , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Le contenu de votre réponse','rows':'3'}} ) }}
            {{ form_errors(f.contenu) }}
        </div>
        <button type="submit" style="float: right" class="btn btn-success">Ajouter</button>
        <button type="reset" class="btn btn-warning">Recommencer</button>

        {{ form_end(f) }}

    </form>


    {% for commentaire in commentaires %}
    <div style="display: flex" class=" flex-row comment-row">

    {% if('Client' in commentaire.author.roles) %}
        <div style="margin: 20px" class="p-2"><span class="round"><img src="{{ asset("assets/client.png") }}" alt="user"
                                                                       width="50"></span></div>
    {% else %}
        <div style="margin: 20px" class="p-2"><span class="round"><img src="{{ asset("assets/admin.png") }}" alt="user"
                                                                       width="50"></span></div>

    {% endif %}
        <div class="comment-text w-100">
            <h4>{% if('Client' in commentaire.author.roles) %}
                    You
                {% else %}
                    Admin
                {% endif %}</h4>
            <div class="comment-footer"><span class="date">{{ commentaire.date ? commentaire.date|date('d M Y') : '' }}</span>
                <span class="action-icons"> </span></div>
            <p class="m-b-5 m-t-10">{{ commentaire.contenu }}</p>
        </div>
    </div>
    {% endfor %}
    {{ knp_pagination_render(commentaires) }}


{% endblock %}