{% extends 'front-office.html.twig' %}

{% block contenu %}


    <div class="bread-crumbs-wrapper">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" title="" itemprop="url">Home</a></li>
                <li class="breadcrumb-item active">Blog Grid</li>
            </ol>
        </div>
    </div>


    <section>
    <div class="block less-spacing gray-bg top-padd30">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec-box">
                        <div class="col-md-12 col-sm-12 col-lg-12">
                            <div class="blog-detail-wrapper">
                                <div class="blog-detail-thumb wow fadeIn" data-wow-delay="0.2s">
                                    <td><img src="{{ asset('couverture/'~ blog_client.image) }}" style="width: px;height: px"  ></td>

                                </div>
                                <div class="blog-detail-info">
                                            <span class="post-detail-date red-clr"><i class="fa fa-clock-o"></i>{{ blog_client.date ? blog_client.date|date('Y-m-d') : '' }}</span>
                                    <div class="post-meta">
                                    </div>
                                </div>
    <tr>
                                <h1 itemprop="headline" >{{ blog_client.title }}</h1>
                                <h3 itemprop="description">{{ blog_client.contenu }}</h3>
    </tr>
                            </div>


                            <a href="{{ path('blog_client_index') }}"><button class="btn btn-warning ">back to list</button></a>

                            <a> {{ include('blog_client/_delete_form.html.twig') }}</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </section>





{% endblock %}