{% extends 'front-office.html.twig' %}

{% block links %}
<title>Réclamations</title>
{% endblock %}

{% block contenu %}
<div style="display: flex;justify-content: center;margin: 30px;min-height: 400px;color: whitesmoke">
    <div style="background-image: url({{ asset("assets/reclamation-bg.jpg") }});" class="fit-bg"></div>

    <div class="card-body">
    <h1  style="margin-bottom: 50px" class="text-center">Vos Reclamations</h1>
        <a  href="{{ path('reclamation_new') }}"><button  class="btn btn-success float-right">Nouvelle Réclamation</button></a>

    <table style="margin-top: 30px" class="table">
        <thead>
            <tr>
                <th>Sujet</th>
                <th>Statut</th>
                <th>Date</th>
                <th>Heure</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.sujet }}</td>
                <td>{{ reclamation.statut }}</td>
                <td>{{ reclamation.date ? reclamation.date|date('d M Y') : '' }}</td>
                <td>{{ reclamation.heure ? reclamation.heure|date('H:i') : '' }}</td>
                <td>
                    <a href="{{ path('reclamation_show', {'id': reclamation.id}) }}"><button class="btn btn-primary">Consulter</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de réclmation trouvé!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}
