{% extends 'back-office.html.twig' %}

{% block contenu %}



    <div class="card mb-3" >
    <div class="card-header " style="font-size: 22px;font-weight: bold;">
        <i class="fa fa-table"></i> BLOG DU CLIENT

    </div>



    <section>
        <div class="block less-spacing gray-bg top-padd30">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="sec-box">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="blog-detail-wrapper">
                                    <div class="blog-detail-thumb wow fadeIn" data-wow-delay="0.2s">
                                        <td><img src="{{ asset('couverture/'~ blog_client.image) }}" style="width: px;height: Px"  ></td>

                                    </div>
                                    <div class="blog-detail-info">

                                        <span class="post-detail-date red-clr"><i class="fa fa-clock-o"></i>{{ blog_client.date ? blog_client.date|date('Y-m-d') : '' }}</span>
                                        <div class="post-meta">
                                        </div>
                                    </div>
                                    <tr>
                                        <a>titre du blog:</a>
                                        <br>
                                        <h4 itemprop="headline" >{{ blog_client.title }}</h4>
                                        <a>contenu du blog:</a>
                                        <br>
                                        <h6 itemprop="description">{{ blog_client.contenu }}</h6>
                                    </tr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <a href="{{ path('blog_admin_index') }}"><button class="btn btn-primary">back to list</button></a>
    <a> {{ include('blog_client/admin/delete.html.twig') }}</a>

{% endblock %}