{% extends 'back-office.html.twig' %}

{% block contenu %}



    <div class="card mb-3" >
    <div class="card-header " style="font-size: 22px;font-weight: bold;">
        <i class="fa fa-table"></i> BLOG DU CLIENT

    </div>


    {% if(blog_client.statut =="Ouvert") %}
        <form method="post" action="">
            <button style="float: right;margin-bottom: 10px" class="btn btn-warning"><a href="{{ path('admin-close-blog' , {'id' :blog_client.id }) }}">Fermer</a></button>

        </form>
    {% else %}
        <form method="post" action="">
            <button style="float: right;margin-bottom: 10px" class="btn btn-primary"><a href="{{ path('admin-reopen-blog' , {'id' :blog_client.id }) }}">Reopen</a></button>

        </form>
    {% endif %}
    <table class="table">
        <tbody>
        <tr>
            <th>title</th>
            <td>{{ blog_client.title }}</td>

        </tr>
        <tr>
            <th>image du blog</th>
            <td><img src="{{ asset('couverture/'~ blog_client.image) }}" style="width: px;height: Px"  ></td>
        </tr>

        <tr>
            <th>Statut</th>
            {% if (blog_client.statut =="Ouvert") %}
                <td>
                    <span style="background-color: darkgreen;color: whitesmoke;padding:4px 8px;border-radius: 8px">Ouvert</span>
                </td>
            {% else %}
                <td>
                    <span style="background-color: darkred;color: whitesmoke;padding:4px 8px;border-radius: 8px">Fermé</span>
                </td>
            {% endif %}
        </tr>
        <tr>
            <th> client</th>
            <td>{{ blog_client.Id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ blog_client.date ? blog_client.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{blog_client.contenu }}</td>
        </tr>


        </tbody>
        
    </table>


    <a href="{{ path('blog_admin_index') }}"><button class="btn btn-primary">back to list</button></a>
    <a> {{ include('blog_client/admin/delete.html.twig') }}</a>



{% endblock %}