{% extends 'back-office.html.twig' %}

{% block links %}
    <title>
        Liste de Utulisateur
    </title>
{% endblock %}

{% block contenu %}
    <a href="{{ path('rolesg',{'roless':"ROLE_ADMIN"}) }}"
       class="btn btn-danger">Admin</a>
    <a href="{{ path('rolesg',{'roless':"ROLE_EDITOR"}) }}"
       class="btn btn-warning">Employer</a>
    <a href="{{ path('rolesg',{'roless':"ROLE_USER"}) }}"
       class="btn btn-dark">Simpl-Utilisateur</a>
    <table class="table">
       <thead>
       <th>ID</th>
       <th>EMAIL</th>
       <th>Nom</th>
       <th>ROLES</th>
       <th>Actions</th>
       </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>
                    {% for role in user.roles %}
                        {% if role == "ROLE_ADMIN"  %}

                            <div style="color: #b21f2d">
                                ADMIN
                            </div>
                            {% elseif role == "ROLE_EDITOR" %}
                                <div style="color: #d39e00">
                                    Employer
                                </div>

                            {% elseif role =="ROLE_USER" %}
                                <div style="color: #343a40">
                                    Utilisateur
                                </div>

                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('modifier_utulisateur',{'id':user.id}) }}"
                       class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Il n'yas pas d'utilisateurs</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock  %}