{{ form_start(f) }}
<section  style="display:flex;flex-direction: column;justify-content: space-between;">
    <div class="child1" style="padding: 7px;">
        <span>Numero</span>
        {{ form_widget(f.numero , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Numero_de_carte'}} ) }}
        {{ form_errors(f.numero) }}
    </div>
    <div class="child1" style="padding: 7px;">
        <span>Nom</span>
        {{ form_widget(f.nomcomplet , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Nom_complet'}} ) }}
        {{ form_errors(f.nomcomplet ) }}
    </div>
    <div class="child1" style="padding: 7px;">
        <span>Date/Exp</span>
        {{ form_widget(f.datexp , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Date_exp'}} ) }}
        {{ form_errors(f.datexp ) }}
    </div>
    <div class="child1" style="padding: 7px;">
        <span>Cvv</span>
        {{ form_widget(f.cvv , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Cvv'}} ) }}
        {{ form_errors(f.cvv ) }}
    </div>
</section>


    <button class="btn" style="margin: 10px;">{{ button_label|default('Save') }}</button>

{{ form_end(f) }}
