{% extends 'front-office.html.twig' %}

{% block links %}
<title>Mes Commandes</title>
{% endblock %}

{% block contenu %}
<div style="display: flex;justify-content: center;margin: 30px;height: auto;color: whitesmoke">
    <div style="background-image: url({{ asset("assets/commande-bg.jpg") }});" class="fit-bg"></div>

    <div class="card-body" >
        <h1  style="margin-bottom: 50px" class="text-center">Vos Commandes </h1>

    <table class="table">
        <thead>
            <tr>

                <th>Réference</th>
                <th>Restaurant</th>
                <th>PrixTotal</th>
                <th>Statut</th>
                <th>Date</th>
                <th>Methode</th>
                <th>PointUtilisees</th>
                <th>StatutPaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>

                <td>{{ commande.id }}</td>
                <td>{{ commande.restaurant.nom }}</td>
                <td>{{ commande.prixTotal }} Dt</td>

                {% if commande.statut== 'En attente' %}
                    <td><span class="badge badge-warning">En attente</span></td>

                {% endif %}
                {% if commande.statut== 'Accepté' %}
                    <td><span class="badge badge-success" >Accepté</span></td>

                {% endif %}
                {% if commande.statut== 'Rejeté' %}
                    <td><span class="badge badge-danger" >Rejeté</span></td>

                {% endif %}

                {% if commande.statut== 'Annulé' %}
                    <td><span class="badge badge-danger" >Annulé</span></td>

                {% endif %}
                {% if commande.statut== 'En traitement' %}
                    <td><span class="badge badge-primary" >En traitement</span></td>

                {% endif %}
                {% if commande.statut== 'Rejeté' %}
                    <td><span class="badge badge-secondary" >Complete</span></td>

                {% endif %}

                <td>{{ commande.date ? commande.date|date('d M Y') : '' }}</td>
                <td>{{ commande.methode }}</td>
                <td>{{ commande.pointUtilisees }}</td>
                <td><span class="badge badge-success" >Succés</span></td>
                <td>
                  <a href="{{ path('commande_show', {'cid': commande.id}) }}"><button class="btn btn-primary">Détails</button></a>
                    <a href="{{ path('client-cancel-commande', {'cid': commande.id}) }}"> <button class="btn btn-danger">Annuler</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas de commandes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
</div>
{% endblock %}