{% extends 'front-office.html.twig' %}

{% block links %}
<title>Mes Commandes</title>
{% endblock %}

{% block contenu %}
<div style="display: flex;justify-content: center;margin: 30px;height: 400px;color: whitesmoke">
    <div style="background-image: url({{ asset("assets/commande-bg.jpg") }});" class="fit-bg"></div>

    <div class="card-body">
        <h1  style="margin-bottom: 50px" class="text-center">Vos Commandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Réference</th>
                <th>PrixTotal</th>
                <th>Statut</th>
                <th>Date</th>
                <th>Methode</th>
                <th>PointUtilisees</th>
                <th>StatutPaiement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.prixTotal }} Dt</td>
                <td>{{ commande.statut }}</td>
                <td>{{ commande.date ? commande.date|date('Y-m-d') : '' }}</td>
                <td>{{ commande.methode }}</td>
                <td>{{ commande.pointUtilisees }}</td>
                <td>{{ commande.statutPaiement }}</td>
                <td>
                  <a href="{{ path('commande_show', {'cid': commande.id}) }}"><button class="btn btn-primary">Détails</button></a>
{#                    <a href="{{ path('commande_edit', {'id': commande.id}) }}">Annuler</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">pas de commandes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
</div>
{% endblock %}