{% extends 'front-office.html.twig' %}

{% block title %}ElementDetails{% endblock %}

{% block contenu %}

     <div style="background-image: url({{ asset("assets/commande-bg.jpg") }});" class="fixed-bg"></div>
<div style="display: table;margin:30px auto;color: whitesmoke;">
    <div class="">
        <h1 class="h3 mb-3 font-weight-normal mt-2 text-center"> ElementDetails </h1>
        <div style="margin: 30px 10px">
    <table class="table">
        <tbody>
        {% for element_detail in commande.details %}
            <tr>
                <div class="form-group" >
                <th>nom</th>
                <td>{{  element_detail.elementId.nom }}</td>
                    </div>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ element_detail.quantite }}</td>
            </tr>
            <tr>
                <th>options</th>
                <td>{{ element_detail.options  }}</td>
            </tr>

            <tr>
                <th></th>
                <th></th>
            </tr>
        {% endfor %}
             <tr>
                 <th></th>
                 <th>
                     {%  if commande.statut=="En Attente" %}
                         <form mathod="POST" action="/commande/{{ commande.id }}/cancel">
                             <button  type="submit" class="btn btn-danger">Annuler

                                 <i class="fa fa-fw fa-trash"></i> </button>
                         </form>
                     {% endif %}
                 </th>
             </tr>


        </tbody>
    </table>
    </div>
</div>

</div>


{% endblock %}
