




    {{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_row(form.dateDebut, { 'attr': {'class': 'form-control'} }) }}
    {{ form_row(form.dateFin, { 'attr': {'class': 'form-control'} }) }}
    {{ form_row(form.prixPromo, { 'attr': {'class': 'form-control'} }) }}
     {{ form_row(form.banner, { 'attr': {'class': 'form-control'} }) }}

      {{ form_row(form.element, { 'attr': {'class': 'form-control'} }) }}


    {{ form_widget(form) }}

    <a class="btn_1 gray approve" href="{{ path('promotion_index') }}"><i class="fa fa-fw fa-reply"></i>back to list</a>
    <button class="btn_1 gray approve">{{ button_label|default('Save') }}</button>



{{ form_end(form) }}




