{% extends 'front-office.html.twig' %}

{% block contenu  %}
<!DOCTYPE html>
<html lang="en">


<body itemscope>
<main>
    <header></header>
    <section>

        <div class="block">
            <div style="background-image: url(assets/front-office/images/topbg.jpg);" class="fixed-bg full-height"></div>
            <div class="coming-soon-wrapper text-center">
                <div class="coming-soon-inner">
                    <div class="logo"><h1 itemprop="headline"><a href="index-2.html" title="Home" itemprop="url"><img src="assets/front-office/images/logo.png" alt="logo.png" itemprop="image"></a></h1></div>
                    <span class="yellow-clr">WE'RE WORKING ON SOMTHING NEW!</span>
                    <h1 itemprop="headline" class="wow flash" data-wow-delay="0.2s">Coming Soon</h1>
                    <p itemprop="description">Vivam pulput vehic Mauris porttitor erovel sapien Sed ut persp tatem semper mi, at ultricies odio.</p>
                    {% for promotion in promotions %}

                        <script>

                            // Set the date we're counting down to


                            let countDownDate = new Date();
                            countDownDate.setFullYear({{ promotion.dateDebut|date("Y") }})
                            countDownDate.setUTCMonth({{ promotion.dateDebut|date("m") }}-1)
                            countDownDate.setUTCDate({{ promotion.dateDebut|date("d") }})
                            countDownDate.setHours({{ promotion.heureDebut|date("H") }})
                            countDownDate.setMinutes({{ promotion.heureDebut|date("i") }})
                            countDownDate.setSeconds({{ promotion.heureDebut|date("s") }})

                            // Update the count down every 1 second
                            var x = setInterval(function() {

                                // Get today's date and time
                                var now = new Date();
                                console.log(now)

                                // Find the distance between now and the count down date
                                var distance = countDownDate - now;

                                // Time calculations for days, hours, minutes and seconds
                                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                                // Output the result in an element with id="demo"

                                document.getElementById("day").innerHTML = days ;
                                document.getElementById("hour").innerHTML = hours ;
                                document.getElementById("minute").innerHTML = minutes ;
                                document.getElementById("second").innerHTML = seconds ;

                                // If the count down is over, write some text
                                if (distance < 0) {
                                    clearInterval(x);
                                    document.getElementById("demo").innerHTML = "EXPIRED";
                                }
                            }, 1000);
                        </script>

                        <p style=" text-align: center;font-size: 60px;margin-top: 0px;" id="demo"></p>
                    <ul class="countdown">
                        <li class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.2s">
                            <span id="day" class="days"></span>
                            <p class="days_ref">Days</p>
                        </li>
                        <li class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.4s">
                            <span id="hour" class="hours"></span>
                            <p class="hours_ref">Hours</p>
                        </li>
                        <li class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.5s">
                            <span id="minute" class="minutes"></span>
                            <p class="minutes_ref">Minutes</p>
                        </li>
                        <li class="brd-rd50 yellow-bg wow bounceIn" data-wow-delay="0.6s">
                            <span id="second" class="seconds"></span>
                            <p class="seconds_ref">Seconds</p>
                        </li>
                    </ul>
                    {% endfor %}
                    <div class="follow-us">
                        <span>Follow Us :</span>
                        <a href="#" title="Facebook" itemprop="url" target="_blank"><i class="fa fa-facebook-square"></i></a>
                        <a href="#" title="Twitter" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Google Plus" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a>
                    </div>
                    <div class="copyright">
                        <p><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=GTvVlcSBmzpscrhMVLPXCXnGfVWxRWbpCzNTGTJcpZhWlbjGKdQjggVRXccMwdqlXzcdxMcqswzMS">Take Away </a></p>
                    </div>
                </div>
            </div><!-- Coming Soon Wrapper -->
        </div>
    </section>
</main><!-- Main Wrapper -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>


{% endblock %}