{% extends 'front-office.html.twig' %}

{% block contenu %}
@
<li class="comment">

    <div class="comment__content">
        <div class="comment__info">

            <div class="comment__meta">
                <div class="comment__time">{{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</div>
                @if(Auth::check())
                <div class="comment__reply">

                    <a
                            class="comment-reply-link replycomment"
                            href="#"

                            data-id="{{ commentaire.id }}">

                    </a>

                    <a
                            href="#"
                            class="comment-reply-link deletecomment"
                            style="color:red">

                    </a>

                </div>

            </div>
        </div>
        <div class="comment__text">
            <p>{{ commentaire.contenu}}</p>
        </div>

    </div>
</li>
{% block body %}
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.id }}</td>
                <td>{{ commentaire.date ? commentaire.date|date('Y-m-d') : '' }}</td>
                <td>{{ commentaire.contenu }}</td>
                <td>
                    <a href="{{ path('commentaire_show', {'id': commentaire.id}) }}">show</a>
                    <a href="{{ path('commentaire_edit', {'id': commentaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commentaire_new') }}">Create new</a>
{% endblock %}
{% endblock %}