{% extends "back-office.html.twig" %}

{% block links %}
<title>Tables de {{ res.nom }}</title>
{% endblock %}

{% block contenu %}

    <div class="card mb-3" >
        <div class="card-header" style="font-size: 22px;font-weight: bold">
            <i class="fa fa-table"></i> Tables <span style="float: right">{{ res.nom }}</span>
        </div>

        <div class="card-header" style="background-color: darkcyan;" >

            <div style="position: relative;
  text-align: center;width: 700px">
                <img src="{{ asset(res.architecture) }}" style="width:100%;">
                {% for table in tables %}
                <div style="position: absolute;top: {{ table.posY }}px;left: {{ table.posX }}px;background-color: green;color: white;border-radius: 10px;padding:2px 11px;">{{ table.numero }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="card-body" style="text-align: center">
            <a href="/admin/tables/{{ res.id }}/add"><button type="button" class="btn btn-primary ml-5 mb-2">Ajouter Une Table</button></a>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr style="background-color: #212529;color: whitesmoke"></th>
                        <th>
                          Numéro
                        </th>
                        <th>Position Horizontale</th>
                        <th>Position Verticale</th>
                        <th>Nombre de Place</th>
                        <th>Mettre à Jour</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for t in tables %}
                        <tr {% if loop.index is odd %}style="background-color: #dfdfdf" {% endif %}>
                            <td>{{ t.numero }}</td>
                            <td>{{ t.posX }}</td>
                            <td>{{ t.posY}}</td>
                            <td>{{ t.nbPalces}}</td>

                            <td>
                                <a href="/admin/tables/{{ res.id }}/{{ t.id }}/update"><button type="button" class="btn btn-warning  ">Modifier</button></a>
                               <a href="/admin/tables/{{ res.id }}/{{ t.id }}/delete"><button type="button" class="btn btn-danger ml-5 ">Supprimer</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 <div style="float:right;">
     {{ knp_pagination_render(
         tables,
         '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
         {
             'queryParam1': 'param1 value',
             'queryParam2': 'param2 value'
         },
         {
             'viewParam1': 'param1 value',
             'viewParam2': 'param2 value'
         },
     ) }}
 </div>
{% endblock %}