{% extends "back-office.html.twig" %}
{% block links %}
    <title>Ajouter une table</title>
{%  endblock %}

{% block contenu %}
        <div class="card m-b-20">
            <div class="card-header">
                <h3 cl  ass="card-title">Ajouter une table : </h3>

            </div>

            <div class="card-body">
                {{ form_start(f)}}
                <form >
                    <div class="form-group">
                        <label class="form-label">Numéro</label>
                        {{ form_widget(f.numero , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Numéro'}} ) }}
                        {{ form_errors(f.numero) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Position Horizontale</label>
                        {{ form_widget(f.posX , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Position Horizontale'}} ) }}
                        {{ form_errors(f.posX) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Positionn Verticale</label>
                        {{ form_widget(f.posY , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Positinn Verticale'}} ) }}
                        {{ form_errors(f.posY) }}
                    </div>
                    <div class="form-group">
                        <label class="form-label">Nombre des places</label>
                        {{ form_widget(f.nbPalces , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Nombre des places'}} ) }}
                        {{ form_errors(f.nbPalces) }}
                    </div>
                    <div class="form-group mb-0">
                        <div class="checkbox checkbox-secondary" style="float: right">
                            {{ form_widget(f) }}
                            <button type="SubmitType" class="btn btn-primary " onClick="validateSubmit()">Ajouter</button>
                        </div>
                    </div>

                </form>
            </div>
            {{ form_end(f) }}
        </div>
{% endblock %}