{% extends 'front-office.html.twig' %}


{% block contenu %}
<style type="text/css">
    label {
        /* Presentation */
        font-size: 48px;
    }

    /* Required Styling */

    label input[type="checkbox"] {
        display: none;
    }

    .custom-checkbox {
        margin-left: 2em;
        position: relative;
        cursor: pointer;
    }

    .custom-checkbox .glyphicon {
        color: gold;
        position: absolute;
        top: 0.4em;
        left: -1.25em;
        font-size: 0.75em;
    }

    .custom-checkbox .glyphicon-star-empty {
        color: gray;
    }

    .custom-checkbox .glyphicon-star {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    .custom-checkbox:hover .glyphicon-star {
        opacity: 0.5;
    }

    .custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
        opacity: 1;
    }
</style>

    <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Adresse</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">favoris</th>
            </tr>
            </thead>
            <tbody>
            <tr>   {% for f in form %}
                <th scope="row">{{ f.id }}</th>
                <td>{{ f.nom }}</td>
                <td>{{ f.description }}</td>
                <td>{{ f.prix }}</td>
                <td>{{ f.categorie }}</td>
                <td> <div class="col-md-1 ml-auto text-center">
                    <a onclick="addToFavorite()">
                       <i id="favorite" class="fas fa-heart"></i>' : '<i id="favorite" class="far fa-heart"></i>' }}</a>
                </div></td>
                <script>
                    function addToFavorite() {
                        fetch('{{ path('article_favorite', {'id': f.id}) }}')
                            .then(response => response.json())
                            .then(json => {
                                let favoriteElt = document.getElementById('favorite');
                                if (json.isWishlist) {
                                    favoriteElt.classList.remove('far');
                                    favoriteElt.classList.add('fas');
                                }
                                else {
                                    favoriteElt.classList.remove('fas');
                                    favoriteElt.classList.add('far');
                                }
                            });
                    }
                </script>





            </tr>
            {% endfor %}
            </tbody>
        </table>



{% endblock %}
