{% extends 'back-office.html.twig' %}

{% block links %}
    <title>Réclamations</title>
    <style>
        .badge{
            font-size: 16px!important;
        }
    </style>
{% endblock %}

{% block contenu %}



    <div class="card mb-3" >
        <div class="card-header " style="font-size: 22px;font-weight: bold;">
            <i class="fa fa-table"></i> Réclamations <sup>{{ filter }}</sup>

        </div>
        <div class="m-2 float-right">
            <a href="{{ path('reclamation_admin') }}">
                <span class="badge badge-primary">Tous</span>
            </a>
            <a href="{{ path('reclamation_by_statut_admin', {'statut': 'Ouvert',}) }}">
                <span class="badge badge-warning">Ouvert</span>
            </a>
            <a href="{{ path('reclamation_by_statut_admin', {"statut":"Fermé"}) }}">
                <span class="badge badge-danger">Fermé</span>
            </a>
        </div>
        <div class="card-body" style="text-align: center">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr style="background-color: #212529;color: whitesmoke"></th>
                        <th>Client</th>
                        <th>Sujet</th>
                        <th>Statut</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for reclamation in reclamations %}
                        <tr>
                            <td>{{ reclamation.clientId.nom }}</td>
                            <td>{{ reclamation.sujet }}</td>
                            {% if reclamation.statut== 'Ouvert' %}
                                <td><span class="badge badge-warning">Ouvert</span></td>

                            {% endif %}
                            {% if reclamation.statut== 'Fermé' %}
                                <td><span class="badge badge-danger">Fermé</span></td>

                            {% endif %}
                            <td>{{ reclamation.date ? reclamation.date|date('d M Y') : '' }}</td>
                            <td>{{ reclamation.heure ? reclamation.heure|date('H:i') : '' }}</td>
                            <td>
                                <a href="{{ path('reclamation_show_admin', {'id': reclamation.id}) }}"><button class="btn btn-primary">Consulter</button></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Pas de réclmation trouvé! </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="float: right" >
        {{ knp_pagination_render(
            reclamations,
            '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',
            {
                'queryParam1': 'param1 value',
                'queryParam2': 'param2 value'
            },
            {
                'viewParam1': 'param1 value',
                'viewParam2': 'param2 value'
            },
        ) }}
    </div>


{% endblock %}
