{% extends 'back-office.html.twig' %}
{% block contenu %}

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">quantite</th>
            <th scope="col">date</th>
            <th scope="col">heure</th>
            <th scope="col">prix </th>
         <th scope="col">Fournisseur </th>
        <th scope="col">Produit </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for f in fr %}
            <th scope="row">{{ f.id }}</th>
            <td>{{ f.quantite }}</td>
            <td>{{ f.date|date('d/m/Y') }}</td>
            <td>{{ f.heure|date('d/m/Y') }}</td>
            <td>{{ f.prixUnitaire }}</td>


            <td>
                {% for fourn in f.getFournisseurId() %}
                    {{ fourn.nom }}
                {% endfor %}
            </td>
            <td>
                {% for ing in f.getIngrediantId() %}
                    {{ ing.nom }}
                {% endfor %}
            </td>

            <td> <a href="{{ path('deletefacture',{'id':f.id}) }}">Delete</a>
                <a href="{{ path('updatefacture',{'id':f.id}) }}">Update</a>


            </td>



        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}