
{% extends "back-office.html.twig" %}
{% block links %}
    <title>Modifier Facture</title>
{% endblock %}

{% block contenu %}
    <div class="card m-b-20">
        <div class="card-header">
            <h3 cl  ass="card-title">Modifier une Facture : </h3>

        </div>

        <div class="card-body">
            {{ form_start(f)}}
            <form >
                <div class="form-group">
                    <label class="form-label">Numéro</label>
                    {{ form_widget(f.quantite , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Numéro'}} ) }}
                    {{ form_errors(f.quantite) }}
                </div>
                <div class="form-group">
                    <label class="form-label">Position Horizontale</label>
                    {{ form_widget(f.date , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Position Horizontale'}} ) }}
                    {{ form_errors(f.date) }}
                </div>
                <div class="form-group">
                    <label class="form-label">Position Verticale</label>
                    {{ form_widget(f.heure , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Positinn Verticale'}} ) }}
                    {{ form_errors(f.heure) }}
                </div>
                <div class="form-group">
                    <label class="form-label">Nombre des places</label>
                    {{ form_widget(f.prixUnitaire , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Nombre des places'}} ) }}
                    {{ form_errors(f.prixUnitaire) }}
                </div>
                <div class="form-group">
                    <label class="form-label">Nombre des places</label>
                    {{ form_widget(f.ingrediantId , {'attr': {'class': 'form-control form-control-user' , 'placeholder' : 'Nombre des places'}} ) }}
                    {{ form_errors(f.ingrediantId) }}
                </div>


                </div>

            </form>
            {{ form_end(f) }}

        </div>
    </div>
{% endblock %}