{% extends 'back-office.html.twig' %}
{% block links %}
<title>Ingrediants</title>
    <style>
        .badge{
            font-size: 17px!important;
        }
    </style>
{% endblock %}
{% block contenu %}



    <div class="card mb-3">
        <div class="card-header " style="font-size: 22px;font-weight: bold;display: table">
            <i class="fa fa-table"></i> Ingrediants
            <a style="float: right;width: fit-content"href="{{ path('addingrediant',{'id':rid}) }}" class="btn btn-success btn-lg btn-block">Ajouter Nouveau Ingrediant</a>

        </div>

        <div class="card-body" style="text-align: center">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr style="background-color: #212529;color: whitesmoke"></th>
                        <th scope="col">nom</th>
                        <th scope="col">quantité</th>
                        <th>Mettre à jour</th>

                    </tr>
                    </thead>
                    <tbody>
                      {% for f in fr %}
                          <tr {% if loop.index is odd %}style="background-color: #dfdfdf" {% endif %}>

                        <td>{{ f.nom }}</td>
                        <td>{{ f.quantite}}</td>



                        <td> <a class="badge badge-danger" href="{{ path('deleteingrediant',{'iid':f.id,'rid':rid}) }}">Delete</a>
                            <a  class="badge badge-warning" href="{{ path('updateingrediant',{'iid':f.id,'rid':rid}) }}">Update</a>


                        </td>



                    </tr>
                    {% endfor %}



                    </tbody>
                </table>
            </div>
        </div>
    </div>



{% endblock %}